body {
  margin: 50px;
  border: 50px;
  height: 88vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

button {
  padding: 5px 10px;
  background-color: lightcoral;
  border: 2px solid lightsteelblue;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.wrapperButtons {
  display: flex;
  flex-direction: column;
}

.wrapperButtons > * {
  margin-bottom: 5px;
}

.intestazione {
  display: flex;
  flex-direction: column;
}

.image {
  padding: 5px;
  display: none;
}

.image img {
  border: 6px solid #373737;
  border-radius: 4px;
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  border: 1px dotted lightcoral;
}

.theNewParagraph {
  color: lightcoral;
  font-weight: bold;
}
