.modal {
  /* border: 2px solid; */
  padding: 30px 0 20px;
  display: flex;
  justify-content: center;

  border: 1px solid;
  border-radius: 8px;

  /* transform: translateY(-100px);  <==== relativo alla prima parte (try & catch)   */
  transform: translateY(0);

  transition: 0.35s;
}

.userPage {
  /* display: none; <==== relativo alla prima parte (try & catch)   */
}
