.heading {
  border: 2px solid black;
  margin-bottom: 50px;
}

.subtitle {
  color: lightskyblue;
}

.fakeBtn {
  background: maroon;
}

.button {
  border: 0;
  background: lightseagreen;
  color: #f2f2f2;
  font-weight: bold;

  padding: 5px 15px;
  border-radius: 5%;
}

.darkMode {
  background-color: #5b5555;
}
